{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%- block styles %}
    {{super()}}
<script type="text/javascript">
    function re_code(){
        var code_valid = document.getElementById('valid');
        code_valid.src = '/captcha/?' +Math.random();
    }
</script>

{%- endblock styles %}
{% block content %}

    <div class="content-box">
        <div class="login-left-container">
            <img src="{{url_for('static',filename='img/logo.png')}}" class="logo-image">
        </div>
        <div class="login-right-container">
            <div class="row">
                <h4>登录</h4>
            </div>
            <form method="POST" style="padding:0  50px">
                    {{ form.csrf_token  }}
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-label">
                            <label>{{ form.username.label }}:</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input-content">
                            {{ form.username }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-label">
                            <label>{{ form.password.label }}</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input-content">
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-label">
                            <label>{{ form.code.label }}</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-content">
                            {{ form.code }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="valid-img">
                            <img src="/captcha/" alt="验证码" title="点击刷新验证码" id="valid" onclick="re_code()" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group reset-request">
                                    <a href="{{ url_for('main.reset_request') }}">忘记密码</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row btn_box">
                            <button class="btn blue" onclick="location.href='{{url_for('main.login_up')}}'">
                                注册
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row btn_box">
                            {{ form.submit(class='btn blue') }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="remember_me-label">
                            {{ form.remember_me.label }}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="remember_me">
                            {{ form.remember_me }}
                        </div>
                    </div>

                </div>
                <div class="warning">
                        {% if form.code.errors[0] %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  {{ form.code.errors[0] }}
                                    </div>
                        {% endif %}
                        {% for message in get_flashed_messages(category_filter=["login_in"]) %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {{ message }}
                            </div>
                            {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
